<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="SalesRecordMapper" type="com.ssm.mapper.SalesRecordMapper" />
		<typeAlias alias="SalesRecordDao" type="com.ssm.dao.SalesRecordDao" />
	</typeAliases>
	<mappers>
		<mapper resource="com/ssm/xml/SalesRecordMapper.xml" />
		<mapper resource="com/ssm/xml/SalesRecordDao.xml" />
	</mappers>
</configuration>