<html>
    <head>
        <meta charset="UTF-8">
        <link href="css/login.css" rel="stylesheet" type="text/css" />
        <script defer src="js/login.js"></script>
    </head>
    <body>
        <a href="labixiaoxin.jpg" download="x.jpg">export to csv</a>
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <input id="username" type="text" placeholder="username"/>
                    <input id="password" type="password" placeholder="password"/>
                    <input type="button" id="login" value="登录">
                </form>
            </div>
        </div>
    </body>
</html>
